body#main {
    margin: 0;
}

.header {
    margin: 0;

    .account {
        margin: 0;
    }

    .navigation {
        margin: 0;

        .logo {
            margin: 0;
        }

        .home {
            margin: 0;
        }

        .wish-list {
            margin: 0;
        }

        .account {
            margin: 0;
        }

        .checkout {
            margin: 0;
        }

        .cart {
            margin: 0;

            .summary {
                margin: 0;
            }

            .content {
                margin: 0;

                .item {
                    margin: 0;

                    .thumbnail {
                        margin: 0;
                    }

                    .title {
                        margin: 0;
                    }

                    .numeric {
                        margin: 0;
                    }

                    .currency {
                        margin: 0;
                    }
                }

                .empty { 
                    margin: 0;
                }
            }
        }
    }

    .menu {
        margin: 0;
    }

    .search {
        margin: 0;
    }       
}

.section {
    margin: 0;
}
    
.footer {
    margin: 0;

    .about {
        margin: 0;
    }

    .contact {
        margin: 0;
    }

    .sitemap {
        margin: 0;
    }

    .copyright {
        margin: 0;
    }
}
