.navigation .navbar .logo {
  padding-top: 35px;
}
.navigation .navbar .nav a {
  margin-top: 10px;
  padding-top: 35px;
}
.navigation .navbar .nav .home {
  background: url(Images/glyphicons/glyphicons_020_home.png) no-repeat center top;
}
.navigation .navbar .nav .wish-list {
  background: url(Images/glyphicons/glyphicons_012_heart.png) no-repeat center top;
}
.navigation .navbar .nav .account {
  background: url(Images/glyphicons/glyphicons_003_user.png) no-repeat center top;
}
.navigation .navbar .nav .checkout {
  background: url(Images/glyphicons/glyphicons_267_credit_card.png) no-repeat center top;
}
.navigation .navbar .nav .cart-summary {
  background: url(Images/glyphicons/glyphicons_202_shopping_cart.png) no-repeat center top;
}
.search .contact {
  padding-left: 35px;
  background: url(Images/glyphicons/glyphicons_169_phone.png) no-repeat left center;
}
.about .group {
  padding-left: 35px;
  background: url(Images/glyphicons/glyphicons_043_group.png) no-repeat left center;
}
.about .flag {
  padding-left: 35px;
  background: url(Images/glyphicons/glyphicons_266_flag.png) no-repeat left center;
}
.about .social {
  padding-left: 35px;
}
.about .facebook {
  background: url(Images/glyphicons/glyphicons_410_facebook.png) no-repeat left center;
}
.about .linkedin {
  background: url(Images/glyphicons/glyphicons_397_linked_in.png) no-repeat left center;
}
.about .skype {
  background: url(Images/glyphicons/glyphicons_418_skype.png) no-repeat left center;
}
