@mini-padding: 5px;
@small-padding: 10px;
@medium-padding: 20px;
@large-padding: 30px;
@xlarge-padding: 40px;
@xxlarge-padding: 60px;

@mini-margin: 5px;
@small-margin: 10px;
@medium-margin: 20px;
@large-margin: 30px;
@xlarge-margin: 40px;
@xxlarge-margin: 60px;

body {
    margin-top: @mini-margin;
}

.profile {
}

.navigation {
    .navbar {
        .logo {
            padding-top: @xlarge-padding;
        }
        .nav {
            a {
                margin-top: @small-margin;
                padding-top: @xlarge-padding;
            }
            .home {
                background: url(Images/glyphicons/glyphicons_020_home.png) no-repeat center top;
            }
            .wish-list {
                background: url(Images/glyphicons/glyphicons_012_heart.png) no-repeat center top;
            }
            .account {
                background: url(Images/glyphicons/glyphicons_003_user.png) no-repeat center top;
            }
            .checkout {
                background: url(Images/glyphicons/glyphicons_267_credit_card.png) no-repeat center top;
            }
            .cart-summary {
                background: url(Images/glyphicons/glyphicons_202_shopping_cart.png) no-repeat center top;
            }
        }
    }

    .empty {
    }
}

.menu {
}

.search {
    .contact {
        padding-left: @xlarge-padding;
        background: url(Images/glyphicons/glyphicons_169_phone.png) no-repeat left center;
    }
}

.about {
    .group {
        padding-left: @xlarge-padding;
        background: url(Images/glyphicons/glyphicons_043_group.png) no-repeat left center;
    }
    .flag {
        padding-left: @xlarge-padding;
        background: url(Images/glyphicons/glyphicons_266_flag.png) no-repeat left center;
    }
    .social {
        padding-left: @large-padding;

        a {
            line-height: 2em;
        }
    }
    .phone {
        background: url(Images/glyphicons/glyphicons_169_phone.png) no-repeat left center;
    }
    .email {
        background: url(Images/glyphicons/glyphicons_010_envelope.png) no-repeat left center;
    }
    .facebook {
        background: url(Images/glyphicons/glyphicons_410_facebook.png) no-repeat left center;
    }
    .linkedin {
        background: url(Images/glyphicons/glyphicons_397_linked_in.png) no-repeat left center;
    }
    .skype {
        background: url(Images/glyphicons/glyphicons_418_skype.png) no-repeat left center;
    }
}

.sitemap {

}

.copyright {

}

.carousel {
     .media {
        margin-top: 0;

        .media-object {}
     }
}

.large-slider {
    height: 500px;

    .media-body {
        padding: @xlarge-padding;
    }
}
.medium-slider {
    height: 300px;

    .media-body {
        padding: @large-padding;
    }
}
.small-slider {
    height: 150px;

    .media-body {
        padding: @small-padding;
        h4 {
            font-size: 1em;
        }
    }
}

.thumbnail-slider {
    .carousel {
        margin-bottom: 0;

        .carousel-indicators {
            padding-top: @small-padding;
            right: 0;

            li {
                background-color: rgba(51, 51, 51, 0.25);
            }

            .active {
                background-color: rgb(51, 51, 51);
            }
        }
    }
}


.sticker {
    position: relative;
}

.sticker-inner {
    position: absolute;
    width: 50%;
}

.sticker-new {
    top: 0;
    left: 0;
}

.sticker-sale {
    top: 0;
    right: 0;
}

.line-through {
    text-decoration: line-through;
}

#Shop_Index {
    .featured {
        background-color: lightblue;
    }
    .latest {
        background-color: lightgreen;
    }
    .sale {
        background-color: lightcoral;
    }
}