@model Weblitz.Shop.Web.Models.View.Trail

@if (Model.Breadcrumbs.Count > 0 || Model.UrlReferer != null)
{
    <ul class="breadcrumb">
        @for (var i = 0; i < Model.Breadcrumbs.Count; i++)
        {
            var x = Model.Breadcrumbs[i];
            if (i == Model.Breadcrumbs.Count-1)
            {
                <li class="active">
                    @Html.ActionLink(x.LinkText, x.ActionName, x.ControllerName, x.RouteValues, null)
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink(x.LinkText, x.ActionName, x.ControllerName, x.RouteValues, null)
                    <span class="divider">&rsaquo;</span>
                </li>
            }
        }
        @if (Model.UrlReferer != null)
        {
            <li class="@(Model.Breadcrumbs.Count == 0 ? string.Empty : "pull-right")">
                <a href="@Model.UrlReferer">Return to previous page</a>
            </li>
        }
    </ul>
}
