@model IList<Weblitz.Shop.Web.Models.View.Section>

@if (Model.Count > 0)
{
    const int columns = 3;
    for (var i = 0; i < (Model.Count/columns) + 1; i++)
    {
        <div class="row">        
            @for (var j = 0; j < columns; j++)
            {
                var ci = (i*columns) + j;
                <div class="span4">
                    @if (ci < Model.Count && Model[ci].Links.Count > 0)
                    {
                        <h4>@Model[ci].Name</h4>
                        <ul class="unstyled">
                            @foreach (var x in Model[ci].Links)
                            {
                                <li>@Html.ActionLink(x.LinkText, x.ActionName, x.ControllerName, x.RouteValues)</li>
                            }
                        </ul>
                    }
                </div>
            }
        </div>
    }
}