@model Weblitz.Shop.Web.Models.View.Container<Weblitz.Shop.Web.Models.View.ProductSummary>

@foreach (var x in Model.Items)
{
    <div class="well well-small">
        @{ Html.RenderPartial("_ProductMedia", x); }        
    </div>
}
