<div class="row">
    <div class="span8">
        <h3>Weblitz Shop</h3>
        <p>Weblitz Shop is a demonstration eCommerce web site built by Guy Newman using .NET Framework 4.5 with ASP MVC 4 and Entity Framework 5.</p>
        <p>Its primary purpose is as a learning tool to explore the latest features of Microsoft's web development technologies.</p>
    </div>
    <div class="span4">
        <h3>Contact</h3>
        <div class="row">
            <div class="span2">    
                <address>
                    <strong>Phone</strong><br/>
                    +44(0)7453 348584<br/>
                    <strong>Email</strong><br/>
                    <a href="mailto:guy@Weblitz.co.uk?subject=shop">guy@weblitz.co.uk</a>
                </address>
            </div>
            <div class="span2">
                <address class="pull-right">
                    <a href="http://www.facebook.com/guy-newman"><i class="icon-book"></i>Facebook</a><br/>
                    <a href="http://www.linked-in.com/guy-newman"><i class="icon-font"></i>Linked In</a><br/>
                    <a href="skype://guy-newman"><i class="icon-bold"></i>Skype</a>
                </address>
            </div>
        </div>
    </div>
</div>