@model Weblitz.Shop.Web.Models.View.CategoryPage

@{
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<div class="page-header">
    <h2>Shop <small>Category</small></h2>
</div>

@section sidebar
{
    <h4>@Model.Sidebar.Name</h4>
    @if (Model.Sidebar.Children.Count > 0)
    {
        <ul class="unstyled">
            @foreach (var x in Model.Sidebar.Children)
            {
                <li>
                    @Html.ActionLink(x.Link.LinkText, x.Link.ActionName, x.Link.ControllerName, x.Link.RouteValues, null)
                    <span class="pull-right badge badge-info"><small>@x.Count</small></span>
                </li>
            }
        </ul>
    }
}
