@model Weblitz.Shop.Web.Models.View.CategoryPage

@{
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Sort <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-arrow-up"></i> Name</a></li>
                    <li><a href="#"><i class="icon-arrow-down"></i> Name</a></li>
                    <li><a href="#"><i class="icon-arrow-up"></i> Price</a></li>
                    <li><a href="#"><i class="icon-arrow-down"></i> Price</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    View <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-th"></i> Grid</a></li>
                    <li><a href="#"><i class="icon-th-list"></i> List</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Page <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                </ul>
            </li>
        </ul>
        <div class="pagination pagination-right pull-right">
            <ul>
                <li class="disabled"><span>&laquo;</span></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

@section sidebar
{
    <h4>@Model.Sidebar.Name</h4>
    @if (Model.Sidebar.Children.Count > 0)
    {
        <ul class="unstyled">
            @foreach (var x in Model.Sidebar.Children)
            {
                <li>
                    @Html.ActionLink(x.Link.LinkText, x.Link.ActionName, x.Link.ControllerName, x.Link.RouteValues, null)
                    <span class="pull-right badge badge-info"><small>@x.Count</small></span>
                </li>
            }
        </ul>
    }
}
