@model dynamic

<h3>Contact</h3>
<address>
    <a href="http://www.facebook.com/guy-newman"><i class="icon-book"></i>Facebook</a><br/>
    <a href="http://www.linked-in.com/guy-newman"><i class="icon-font"></i>Linked In</a><br/>
    <a href="skype://guy-newman"><i class="icon-bold"></i>Skype</a>
</address>
<address>
    <strong>Phone</strong><br/>
    +44(0)7453 348584<br/>
    <strong>Email</strong><br/>
    <a href="mailto:guy@Weblitz.co.uk?subject=shop">guy@weblitz.co.uk</a>
</address>