@model Weblitz.Shop.Web.Models.View.ShopFront

<div class="row">
    <div class="span8">
        <div class="medium-slider featured">
            @{ Html.RenderPartial("_MediaCarousel", Model.FeaturedMedia); }
        </div>
    </div>
    <div class="span4">
        <div class="small-slider latest">
            @{ Html.RenderPartial("_MediaCarousel", Model.LatestMedia); }            
        </div>
        <div class="small-slider sale">
            @{ Html.RenderPartial("_MediaCarousel", Model.SaleMedia); }            
        </div>
    </div>
</div>
<div class="thumbnail-slider featured">
    @{ Html.RenderPartial("_ThumbnailCarousel", Model.FeaturedThumbnails); }
</div>
<div class="thumbnail-slider latest">
    @{ Html.RenderPartial("_ThumbnailCarousel", Model.LatestThumbnails); }
</div>
<div class="thumbnail-slider sale">
    @{ Html.RenderPartial("_ThumbnailCarousel", Model.SaleThumbnails); }
</div>

@section onready
{
    <script type="text/javascript">
        $(function() {
            $('.medium-slider .carousel').carousel();
            $('.small-slider .carousel').carousel({ 'interval': 2500 });
            $('.thumbnail-slider .carousel').carousel({ 'interval': false });
        });
    </script>
}
