@model Weblitz.Shop.Web.Models.View.ShopFront

<div class="row">
    <div class="span8 medium-slider featured-products">
        @{ Html.RenderPartial("_Carousel", Model.FeaturedProducts); }
    </div>
    <div class="span4">
        <div class="small-slider new-products">
            @{ Html.RenderPartial("_Carousel", Model.NewProducts); }            
        </div>
        <div class="small-slider sale-products">
            @{ Html.RenderPartial("_Carousel", Model.SaleProducts); }            
        </div>
    </div>
</div>

@section onready
{
    $('.carousel').carousel();
}
