@model Weblitz.Shop.Web.Models.View.SearchForm

<div class="span6">
    <ul class="contact unstyled pull-left">
        <li class="phone">+44(0)1234 567890</li>
        <li class="business-hours">Call us Monday - Friday: 9am - 5pm</li>
    </ul>        
</div>
<div class="span6">
    @using (Html.BeginForm("Results", "Search", FormMethod.Get, new {@class = "form-search pull-right"}))
    {
        <div class="input-append">
            @Html.TextBoxFor(x => x.Query, new {@class = "input-large search-query", placeholder = "Enter a query..."})
            <input type="submit" value="Search" class="btn"/>
        </div>
    }        
</div>